{% load static %}
<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DjangoGirls Tutorial</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</head>
<body>
	<div class="header">
		<div class="container">
			<h1><a href="{% url 'post-list' %}">Django Girls Blog</a></h1>
			<!--post_add view로 갈 수 있는 링크 만들기-->
			<a href="{% url 'post-add' %}"
				 class="btn btn-primary">글 작성</a>
		</div>
	</div>
	<div class="container">
		<h2>{% block title %}{% endblock %}</h2>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>